[Unit]
Description=Run pipe script at startup

[Service]
Type=simple
RemainAfterExit=yes
ExecStart=/root/Trustee-Community/execpipe.sh
TimeoutStartSec=0

[Install]
WantedBy=default.target